/*Colors */
/* #060606 */
/* #1d1e22 */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #060606;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


.panels {

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.panel {
    background-color: #1d1e22;
    box-shadow: 0 0 0 .5px #1d1e22;
    height: 400px;
    width: 400px;
}


.panel .menu {
    align-items: center;
    background-color: #060606;
    display: flex;
    height: 15%;
    justify-content: space-between;
}

.panel .menu>span {
    align-items: center;
    background-color: #1d1e22;
    color: whitesmoke;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    height: 100%;
    width: 30%;
    letter-spacing: 1px;
}


.icon {
    height: 24px;
    width: 24px;
    line-height: 100%;
    margin: 0 12px;
}

.panel .editor {
    background-color: #1d1e22;
    height: 85%;
    width: 100%;
}


.editor>div {
    background-color: inherit;
    border: none;
    height: 100%;
    resize: none;
    width: 100%;

}



.preview_container {
    flex-grow: 3;
    background-color: white;
}